{% extends "layout.html.twig" %}

{% block content %}
<main role="main" class="inner cover">
    <p class="lead">SpyCss is a library that helps to analyze user behavior via CSS, without JavaScript on client side.</p>

    {% for chunk in chunks %}
    <div class="row text-left">
      {% for card in chunk %}
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <div class="card-text">{{ card.data|raw }}</div>
            <a href="{{ url('events') }}" class="btn btn-primary">See results</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}

</main>
<style>{{ css|raw }}</style>
{% endblock %}
