{% extends "layout.html.twig" %}

{% block content %}
  <div class="py-5 text-center">
    <h2>Checkout form</h2>
    <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
  </div>

{% endblock %}
