<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
    <title>{% block title '' %}</title>
  </head>
  <body>

  <div class="text-center cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h1 class="masthead-brand"><a href="{{ url('home') }}">SpyCss</a></h1>
        <nav class="nav nav-masthead justify-content-center">
            {% set nav_list = [
              ["home",    "About"],
              ["events",  "Events"]
            ] %}

            {% set link_active = global.request.get('_route') %}

            {% for link in nav_list %}
              <a href="{{ url(link[0]) }}" class="nav-link {% if link[0] == link_active %} active {% endif %}">{{ link[1] }}</a>
            {% endfor %}
            <a href="https://github.com/Bogdaan/spycss" class="nav-link">Github</a>
        </nav>
      </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="mastfoot mt-auto">
      <div class="inner">
          <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/Bogdaan/spycss">SpyCss sources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/Bogdaan/spycss-demo">Demo sources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://hcbogdan.com">Blog</a>
              </li>
          </ul>
      </div>
    </footer>
  </div>

  </body>
</html>
